
/** STYLE FOR PARSLEY VALIDATION LIBRARY **/
.parsley-errors-list {
    display: none !important;
}
/** STYLE FOR VALIDATION TOOLTIP (HINT.CSS) **/
.utopiasoftware-ej2-validation-tooltip {
    font-size: 0.75em !important;
    background-color: #000000 !important;
}
.utopiasoftware-ej2-validation-tooltip.e-tooltip-wrap.e-popup {
    border-color: #000000;
}
.utopiasoftware-ej2-validation-tooltip.e-tooltip-wrap.e-popup .e-arrow-tip-outer.e-tip-bottom {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #000000;
}
.utopiasoftware-ej2-validation-tooltip.e-tooltip-wrap.e-popup .e-arrow-tip-inner.e-tip-right,
.utopiasoftware-ej2-validation-tooltip.e-tooltip-wrap.e-popup .e-arrow-tip-inner.e-tip-left,
.utopiasoftware-ej2-validation-tooltip.e-tooltip-wrap.e-popup .e-arrow-tip-inner.e-tip-bottom,
.utopiasoftware-ej2-validation-tooltip.e-tooltip-wrap.e-popup .e-arrow-tip-inner.e-tip-top {
    color: #000000;
    font-family: 'e-icons';
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-transform: none;
}

/** STYLE TO PREVENT ALL EJ2 BUTTONS FROM HAVING A BACKGROUND COLOR WHEN FOCUSED **/
.e-btn:focus, .e-btn:hover, .e-btn.e-outline:focus, .e-btn.e-outline:hover {
    background-color: transparent;
}
/** STYLE TO INCREASE FONT SIZE BY 1.2EM **/
.utopiasoftware-icon-zoom-one-point-two {
    font-size: 1.2em !important;
}


/** STYLE FOR THE APP ALERT DIALOG BEGINS **/
.alert-dialog--utopiasoftware-alert-dialog {
    width: 90vw;
    min-width: 90vw;
}
.alert-dialog-title--utopiasoftware-oak-alert-dialog {
    color: #3F51B5;
}
.alert-dialog-button--utopiasoftware-oak-alert-dialog {
    color: #3F51B5;
}
/** STYLE FOR THE APP ALERT DIALOG ENDS **/

/** STYLE FOR DEFAULT PAGE PRE-LOADERS BEGINS **/
.progress-bar--default-page-preloader__primary,
.progress-bar--default-page-preloader__secondary {
    background-color: #ff0000;
    background-color: rgba(255, 0, 0, 1);
    border-radius: 0;
}
.progress-bar--default-page-preloader__secondary {
    background-color: #548ba7;
    z-index: 0;
}
.progress-bar--default-page-preloader.progress-bar--indeterminate:before {
    background-color: #ff0000;
    background-color: rgba(255, 0, 0, 1);
    border-radius: 0;
}
.progress-bar--default-page-preloader.progress-bar--indeterminate:after {
    background-color: #ff0000;
    background-color: rgba(255, 0, 0, 1);
    border-radius: 0;
}
/** STYLE FOR DEFAULT PAGE PRE-LOADERS ENDS **/

/** STYLE FOR LOADER MODAL BEGINS **/
#loader-modal ons-icon[spin] {
    -webkit-animation: ons-icon-spin 0.6s infinite linear;
    -moz-animation: ons-icon-spin 0.6s infinite linear;
    animation: ons-icon-spin 0.6s infinite linear;
}
/** STYLE FOR LOADER MODAL ENDS **/

/** STYLE FOR EJ2 TOAST BEGINS **/
.default-ej2-toast {
    color: #363E7C !important;
    background-color: #ffffff !important;
    box-shadow: none !important;
    border: 1px #363E7C solid !important;
}
.default-ej2-toast * {
    color: #363E7C !important;
    background-color: #ffffff !important;
}
.error-ej2-toast {
    color: #FF0000 !important;
    background-color: #ffffff !important;
    box-shadow: none !important;
    border: 1px #FF0000 solid !important;
}
.error-ej2-toast * {
    color: #FF0000 !important;
    background-color: #ffffff !important;
}

/** STYLE FOR EJ2 TOAST ENDS **/

/** STYLE FOR DEFAULT PULL-HOOK INDETERMINATE LOADER BEGINS **/
.progress-circular--pull-hook__primary {
    stroke: #363E7C;
}
/** STYLE FOR DEFAULT PULL-HOOK INDETERMINATE LOADER ENDS **/

/** STYLE FOR APP MAIN PAGE BEGINS **/
/*#app-main-tab-home {
    background-position: center;
    background-size: 26% auto;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-image: url("app-images/home-icon-img.png");
}
#app-main-tab-categories {
    background-position: center;
    background-size: 20% auto;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-image: url("app-images/category-icon-img.png");
}
#app-main-tab-search {
    background-position: center;
    background-size: 26% auto;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-image: url("app-images/search-icon-img.png");
}
#app-main-tab-my-account {
    background-position: center;
    background-size: 17% auto;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-image: url("app-images/my-account-icon-img.png");
}*/
/** STYLE FOR APP MAIN PAGE ENDS **/

/** STYLE FOR HOME PAGE BEGINS **/
#home-page .page__background,
#home-page .page--material__background {
    background-color: #ffffff;
}
#home-page #home-latest-design-block {
    /*background-image: linear-gradient(45deg, rgba(0, 0, 255, 0.4) 0%, rgba(255, 255, 255, 0.6) 100%),
    url('app-images/abstract-background-1.jpg');*/
    background-repeat: no-repeat;
    background-size: cover, cover;
    background-position: center;
}

#home-page #home-latest-design-block .flickity-page-dots .dot {
    background: red !important;
}

#home-page #home-latest-design-block .e-card {
    background-color: rgba(211, 211, 211, 0.7);
    background-color: transparent;
    box-shadow: none !important;
}
#home-page #home-latest-design-block .e-card .e-card-separator {
    border-bottom: 1px solid rgba(0, 0, 255, 0.12);
}

/** =============================================================== **/
#home-page #home-featured-design-block {
    /*background-image: linear-gradient(45deg, rgba(65, 105, 225, 0.4) 0%, rgba(255, 255, 255, 0.6) 100%),
    url('app-images/abstract-background-2.jpg');*/
    background-repeat: no-repeat;
    background-size: cover, cover;
    background-position: center;
}

#home-page #home-featured-design-block .flickity-page-dots .dot {
    background: red !important;
}
/*#home-page #home-featured-design-block .row .col-xs-5:not(.is-selected) {
    opacity: 0.7;
    transform:scale(0.5);
    transition: opacity 0.5s, transform 0.5s;
}
#home-page #home-featured-design-block .row .col-xs-5.is-selected {
    opacity: 1;
    transform:scale(1);
}*/
#home-page #home-featured-design-block .e-card {
    background-color: rgba(211, 211, 211, 0.7);
    background-color: transparent;
    box-shadow: none !important;
}
#home-page #home-featured-design-block .e-card .e-card-separator {
    border-bottom: 1px solid rgba(0, 0, 255, 0.12);
}
/** =============================================================== **/

/** =============================================================== **/
#home-page #home-sales-design-block {
    /*background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.6) 100%),
    url('app-images/abstract-background-3.jpg');*/
    background-repeat: no-repeat;
    background-size: cover, cover;
    background-position: center;
}

#home-page #home-sales-design-block .flickity-page-dots .dot {
    background: red !important;
}
/*#home-page #home-sales-design-block .row .col-xs-5:not(.is-selected) {
    opacity: 0.7;
    transform:scale(0.5);
    transition: opacity 0.5s, transform 0.5s;
}
#home-page #home-sales-design-block .row .col-xs-5.is-selected {
    opacity: 1;
    transform:scale(1);
}*/
#home-page #home-sales-design-block .e-card {
    background-color: rgba(211, 211, 211, 0.7);
    background-color: transparent;
    box-shadow: none !important;
}
#home-page #home-sales-design-block .e-card .e-card-separator {
    border-bottom: 1px solid rgba(0, 0, 255, 0.12);
}
/** ============================================================== **/

#home-page .e-card-image {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

/** STYLE FOR HOME PAGE ENDS **/

/** STYLE FOR CATEGORIES PAGE START **/
#categories-page .page__background,
#categories-page .page--material__background {
    background-color: #ffffff;
}
#categories-page .e-card {
    background-color: rgba(211, 211, 211, 0.7);
    background-color: transparent;
    box-shadow: none !important;
}
#categories-page .e-card-image{
    margin-top: 2px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
#categories-page #categories-page-scroll-top-fab {
    display: none;
}
/** STYLE FOR CATEGORIES PAGE ENDS **/

/** STYLE FOR SEARCH PAGE START **/
#search-page .page__background,
#search-page .page--material__background {
    background-color: #ffffff;
}
/** STYLE FOR SEARCH PAGE ENDS **/

/** STYLE FOR ACCOUNT PAGE BEGINS **/
#account-page .page__background,
#account-page .page--material__background {
    background-color: #ffffff;
}
/** STYLE FOR ACCOUNT PAGE ENDS **/

/** STYLE FOR PRODUCTS PAGE BEGINS **/
#products-page .page__background,
#products-page .page--material__background {
    background-color: #ffffff;
}
#products-page .e-card {
    background-color: rgba(211, 211, 211, 0.7);
    background-color: transparent;
    box-shadow: none !important;
}
#products-page .e-card-image{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
#products-page #products-page-scroll-top-fab {
    display: none;
}
#products-page .e-card .e-card-separator {
    border-bottom: 1px solid rgba(0, 0, 255, 0.12);
}
#products-page .e-card .e-card-actions .e-card-btn:focus,
#products-page .e-card .e-card-actions .e-card-btn:hover{
    background-color: transparent;
}
#products-page .e-card .e-card-actions .e-card-btn:first-child,
#products-page .e-card .e-card-actions a:first-child {
    margin-left: 6px;
}
/** STYLE FOR PRODUCTS PAGE ENDS **/

/** STYLE FOR PRODUCT DETAILS PAGE BEGINS **/
#product-details-page .page__background,
#product-details-page .page--material__background {
    background-color: #ffffff;
}
#product-details-page .e-card-image{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
/** STYLE FOR PRODUCT DETAILS PAGE ENDS **/

/** STYLE FOR LOGIN PAGE BEGINS **/
#login-page .page__background,
#login-page .page--material__background {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255,0) 100%),
    url('app-images/abstract-background-3.jpg'),
    linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background-repeat: no-repeat;
    background-size: cover, cover, cover;
    background-position: 0% 0%, center, 0% 0%;
}
#login-page ons-carousel-item { /* style for carousel items background */
    background-color: transparent;
    position: relative;
}
#login-page ons-input input {
    /*font-size: 0.7em;*/
    height: 1.2em;
    line-height: 1.2em;
    color: #ffffff !important;
    caret-color: #ffffff;
}
/** configure the style for the segment buttons on the login page **/
#login-page .segment--material {
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .12), 0 2px 2px 0 rgba(0, 0, 0, .24);
}
#login-page .segment--material__button {
    font-family: 'Roboto', 'Noto', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    border-width: 0;
    color: #000000;
    color: rgba(0, 0, 0, 1);
    border-radius: 0;
    background-color: #FFFFFF;
}
#login-page :active + .segment--material__button {
    background-color: #FFFFFF;
    border-radius: 0;
    border-width: 0;
    font-size: 14px;
    transition: none;
    color: #000000;
    color: rgba(0, 0, 0, 1);
}
#login-page :checked + .segment--material__button {
    background-color: #363E7C;
    color: #FFFFFF;
    border-radius: 0;
    border-width: 0;
}
#login-page .segment--material__item:first-child > .segment--material__button,
#login-page .segment--material__item:last-child > .segment--material__button {
    border-radius: 0;
    border-width: 0;
}
/** STYLE FOR LOGIN PAGE ENDS **/