
/** STYLE FOR PARSLEY VALIDATION LIBRARY **/
.parsley-errors-list {
    display: none !important;
}
/** STYLE FOR VALIDATION TOOLTIP (HINT.CSS) **/
[data-hint]:after {
    font-size: 0.75em !important;
}


/** STYLE FOR THE APP ALERT DIALOG BEGINS **/
.alert-dialog--utopiasoftware-alert-dialog {
    width: 90vw;
    min-width: 90vw;
}
/** STYLE FOR THE APP ALERT DIALOG ENDS **/

/** STYLE FOR LOADER MODAL BEGINS **/
#loader-modal ons-icon[spin] {
    -webkit-animation: ons-icon-spin 0.6s infinite linear;
    -moz-animation: ons-icon-spin 0.6s infinite linear;
    animation: ons-icon-spin 0.6s infinite linear;
}
/** STYLE FOR LOADER MODAL ENDS **/

/** STYLE FOR APP MAIN PAGE BEGINS **/
#app-main-tab-home {
    background-position: center;
    background-size: 32% auto;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-image: url("app-images/home-icon-img.png");
}
#app-main-tab-categories {
    background-position: center;
    background-size: 20% auto;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-image: url("app-images/category-icon-img.png");
}
#app-main-tab-search {
    background-position: center;
    background-size: 32% auto;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-image: url("app-images/search-icon-img.png");
}