
.e-dropdownbase {
  border-color: #e0e0e0; }
  .e-dropdownbase .e-list-item {
    background-color: #fff;
    border-bottom: 0;
    border-color: #fff;
    color: rgba(0, 0, 0, 0.87);
    font-family: "Roboto", "Segoe UI", "GeezaPro", "DejaVu Serif", "sans-serif", "-apple-system", "BlinkMacSystemFont";
    font-size: 13px;
    line-height: 36px;
    min-height: 36px;
    padding-right: 16px;
    text-indent: 16px; }
  .e-dropdownbase .e-list-group-item,
  .e-fixed-head {
    background-color: #fff;
    border-color: #fff;
    color: rgba(0, 0, 0, 0.54);
    font-family: "Roboto", "Segoe UI", "GeezaPro", "DejaVu Serif", "sans-serif", "-apple-system", "BlinkMacSystemFont";
    font-size: 13px;
    font-weight: 600;
    line-height: 36px;
    min-height: 36px;
    padding-left: 16px;
    padding-right: 16px; }
  .e-dropdownbase .e-list-item.e-active,
  .e-dropdownbase .e-list-item.e-active.e-hover {
    background-color: #eee;
    border-color: #fff;
    color: #3f51b5; }
  .e-dropdownbase .e-list-item.e-hover {
    background-color: #eee;
    border-color: #fff;
    color: rgba(0, 0, 0, 0.87); }
  .e-dropdownbase .e-list-item:last-child {
    border-bottom: 0; }
  .e-dropdownbase .e-list-item.e-item-focus {
    background-color: #eee; }


.e-float-input:not(.e-input-group) .e-float-line::before,
.e-float-input:not(.e-input-group) .e-float-line::after,
.e-float-input:not(.e-input-group) .e-float-line::before,
.e-float-input:not(.e-input-group) .e-float-line::after,
.e-float-input.e-control-wrapper:not(.e-input-group) .e-float-line::before,
.e-float-input.e-control-wrapper:not(.e-input-group) .e-float-line::after,
.e-float-input.e-control-wrapper:not(.e-input-group) .e-float-line::before,
.e-float-input.e-control-wrapper:not(.e-input-group) .e-float-line::after {
  background: #3f51b5; }


input.e-input::selection,
textarea.e-input::selection,
.e-input-group input.e-input::selection,
.e-input-group.e-control-wrapper input.e-input::selection,
.e-float-input input::selection,
.e-float-input.e-control-wrapper input::selection {
  background: #3f51b5;
  color: #fff; }

.e-float-input.e-small textarea::selection,
.e-float-input textarea::selection {
  background: #3f51b5;
  color: #fff; }


.e-input-group:not(.e-float-icon-left):not(.e-float-input)::before,
.e-input-group:not(.e-float-icon-left):not(.e-float-input)::after,
.e-input-group.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::before,
.e-input-group.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::after,
.e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::before,
.e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::after,
.e-input-group.e-control-wrapper.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::before,
.e-input-group.e-control-wrapper.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::after {
  background: #3f51b5; }

.e-float-input.e-input-group:not(.e-float-icon-left) .e-float-line::before,
.e-float-input.e-input-group:not(.e-float-icon-left) .e-float-line::after,
.e-float-input.e-input-group.e-float-icon-left .e-input-in-wrap .e-float-line::before,
.e-float-input.e-input-group.e-float-icon-left .e-input-in-wrap .e-float-line::after,
.e-float-input.e-control-wrapper.e-input-group:not(.e-float-icon-left) .e-float-line::before,
.e-float-input.e-control-wrapper.e-input-group:not(.e-float-icon-left) .e-float-line::after,
.e-float-input.e-control-wrapper.e-input-group.e-float-icon-left .e-input-in-wrap .e-float-line::before,
.e-float-input.e-control-wrapper.e-input-group.e-float-icon-left .e-input-in-wrap .e-float-line::after {
  background: #3f51b5; }


.e-input:focus:not(.e-success):not(.e-warning):not(.e-error),
.e-float-input:not(.e-success):not(.e-warning):not(.e-error):not(.e-input-group) input:focus,
.e-float-input:not(.e-success):not(.e-warning):not(.e-error):not(.e-input-group) textarea:focus,
.e-float-input.e-control-wrapper:not(.e-success):not(.e-warning):not(.e-error):not(.e-input-group) input:focus,
.e-float-input.e-control-wrapper:not(.e-success):not(.e-warning):not(.e-error):not(.e-input-group) textarea:focus {
  border-color: #3f51b5; }

.e-input-group:not(.e-success):not(.e-warning):not(.e-error) input.e-input:focus,
.e-input-group.e-control-wrapper:not(.e-success):not(.e-warning):not(.e-error) input.e-input:focus {
  border-color: transparent; }

.e-float-input:not(.e-error) input:focus ~ label.e-float-text,
.e-float-input.e-bigger:not(.e-error) input:focus ~ label.e-float-text,
.e-bigger .e-float-input:not(.e-error) input:focus ~ label.e-float-text,
.e-float-input.e-small:not(.e-error) input:focus ~ label.e-float-text,
.e-small .e-float-input:not(.e-error) input:focus ~ label.e-float-text,
.e-float-input.e-small.e-bigger:not(.e-error) input:focus ~ label.e-float-text,
.e-bigger .e-float-input.e-small:not(.e-error) input:focus ~ label.e-float-text,
.e-float-input:not(.e-error) textarea:focus ~ label.e-float-text,
.e-float-input.e-bigger:not(.e-error) textarea:focus ~ label.e-float-text,
.e-bigger .e-float-input:not(.e-error) textarea:focus ~ label.e-float-text,
.e-float-input.e-small:not(.e-error) textarea:focus ~ label.e-float-text,
.e-small .e-float-input:not(.e-error) textarea:focus ~ label.e-float-text,
.e-float-input.e-small.e-bigger:not(.e-error) textarea:focus ~ label.e-float-text,
.e-bigger .e-float-input.e-small:not(.e-error) textarea:focus ~ label.e-float-text,
.e-float-input.e-control-wrapper:not(.e-error) input:focus ~ label.e-float-text,
.e-float-input.e-control-wrapper.e-bigger:not(.e-error) input:focus ~ label.e-float-text,
.e-bigger .e-float-input.e-control-wrapper:not(.e-error) input:focus ~ label.e-float-text,
.e-float-input.e-control-wrapper.e-small:not(.e-error) input:focus ~ label.e-float-text,
.e-small .e-float-input.e-control-wrapper:not(.e-error) input:focus ~ label.e-float-text,
.e-float-input.e-control-wrapper.e-small.e-bigger:not(.e-error) input:focus ~ label.e-float-text,
.e-bigger .e-float-input.e-control-wrapper.e-small:not(.e-error) input:focus ~ label.e-float-text,
.e-float-input.e-control-wrapper:not(.e-error) textarea:focus ~ label.e-float-text,
.e-float-input.e-control-wrapper.e-bigger:not(.e-error) textarea:focus ~ label.e-float-text,
.e-bigger .e-float-input.e-control-wrapper:not(.e-error) textarea:focus ~ label.e-float-text,
.e-float-input.e-control-wrapper.e-small:not(.e-error) textarea:focus ~ label.e-float-text,
.e-small .e-float-input.e-control-wrapper:not(.e-error) textarea:focus ~ label.e-float-text,
.e-float-input.e-control-wrapper.e-small.e-bigger:not(.e-error) textarea:focus ~ label.e-float-text,
.e-bigger .e-float-input.e-control-wrapper.e-small:not(.e-error) textarea:focus ~ label.e-float-text {
  color: #3f51b5; }


.e-slider-tooltip.e-tooltip-wrap.e-popup.e-material-range {
  background-color: #3f51b5;
  border: 0;
  border-radius: 8px;
  cursor: -webkit-grab;
  cursor: grab;
  opacity: 1; }
  .e-slider-tooltip.e-tooltip-wrap.e-popup.e-material-range.e-material-tooltip-start {
    background-color: rgba(0, 0, 0, 0.26); }
    .e-slider-tooltip.e-tooltip-wrap.e-popup.e-material-range.e-material-tooltip-start .e-arrow-tip-inner {
      color: #000;
      opacity: 0; }
    .e-slider-tooltip.e-tooltip-wrap.e-popup.e-material-range.e-material-tooltip-start.e-slider-horizontal-before .e-arrow-tip-outer {
      border-top-color: rgba(0, 0, 0, 0.26); }
    .e-slider-tooltip.e-tooltip-wrap.e-popup.e-material-range.e-material-tooltip-start.e-slider-horizontal-after .e-arrow-tip-outer {
      border-bottom-color: rgba(0, 0, 0, 0.26); }
    .e-slider-tooltip.e-tooltip-wrap.e-popup.e-material-range.e-material-tooltip-start.e-slider-vertical-before .e-arrow-tip-outer {
      border-left-color: rgba(0, 0, 0, 0.26); }
    .e-slider-tooltip.e-tooltip-wrap.e-popup.e-material-range.e-material-tooltip-start.e-slider-vertical-after .e-arrow-tip-outer {
      border-right-color: rgba(0, 0, 0, 0.26); }
  .e-slider-tooltip.e-tooltip-wrap.e-popup.e-material-range.e-tooltip-active {
    cursor: -webkit-grabbing;
    cursor: grabbing; }
  .e-slider-tooltip.e-tooltip-wrap.e-popup.e-material-range .e-arrow-tip {
    visibility: visible; }
  .e-slider-tooltip.e-tooltip-wrap.e-popup.e-material-range .e-tip-content {
    background-color: transparent;
    height: 16px;
    overflow: hidden;
    padding: 0 8px;
    text-align: center;
    top: calc(50% - 8px);
    width: 100%; }
    .e-slider-tooltip.e-tooltip-wrap.e-popup.e-material-range .e-tip-content.e-material-tooltip-show {
      color: #fff; }
    .e-slider-tooltip.e-tooltip-wrap.e-popup.e-material-range .e-tip-content.e-material-tooltip-hide {
      color: transparent; }
  .e-slider-tooltip.e-tooltip-wrap.e-popup.e-material-range .e-arrow-tip-inner {
    color: #3f51b5; }
  .e-slider-tooltip.e-tooltip-wrap.e-popup.e-material-range.e-slider-horizontal-before .e-arrow-tip-outer {
    border-top-color: #3f51b5; }
  .e-slider-tooltip.e-tooltip-wrap.e-popup.e-material-range.e-slider-horizontal-after .e-arrow-tip-outer {
    border-bottom-color: #3f51b5; }
  .e-slider-tooltip.e-tooltip-wrap.e-popup.e-material-range.e-slider-vertical-before .e-arrow-tip-outer {
    border-left-color: #3f51b5; }
  .e-slider-tooltip.e-tooltip-wrap.e-popup.e-material-range.e-slider-vertical-after .e-arrow-tip-outer {
    border-right-color: #3f51b5; }

.e-slider-tooltip.e-tooltip-wrap.e-popup.e-tooltip-wrap.e-popup.e-material-default {
  background-color: #3f51b5;
  border: 0;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 0%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  cursor: -webkit-grab;
  cursor: grab;
  opacity: 1; }

 .e-control-wrapper.e-slider-container .e-slider .e-handle.e-tab-handle::after {
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        background-color: #3f51b5;
        transform: scale(1); }

.e-control-wrapper.e-slider-container .e-slider .e-range {
  background-color: #3f51b5; }

.e-control-wrapper.e-slider-container .e-slider .e-handle {
  background-color: #3f51b5;
  border-color: #3f51b5; }
  .e-control-wrapper.e-slider-container .e-slider .e-handle.e-material-tooltip {
    background-color: transparent;
    border-color: transparent; }

.e-control-wrapper.e-slider-container.e-slider-hover .e-slider-track {
  background-color: rgba(0, 0, 0, 0.26); }

.e-control-wrapper.e-slider-container.e-slider-hover .e-range {
  background-color: #3f51b5; }

.e-control-wrapper.e-slider-container.e-slider-hover .e-handle {
  border-color: #3f51b5; }


.e-spinner-pane {
  background-color: transparent; }
  .e-spinner-pane.e-spin-overlay {
    background-color: rgba(0, 0, 0, 0.4); }
    .e-spinner-pane.e-spin-overlay .e-spinner-inner .e-spin-label {
      color: #fff; }
    .e-spinner-pane.e-spin-overlay .e-spinner-inner .e-spin-bootstrap {
      fill: #3f51b5;
      stroke: #3f51b5; }
  .e-spinner-pane .e-spinner-inner .e-spin-label {
    color: rgba(0, 0, 0, 0.87); }
  .e-spinner-pane .e-spinner-inner .e-spin-fabric .e-path-circle {
    stroke: rgba(63, 81, 181, 0.4); }
  .e-spinner-pane .e-spinner-inner .e-spin-fabric .e-path-arc {
    stroke: #3f51b5; }
  .e-spinner-pane .e-spinner-inner .e-spin-high-contrast .e-path-circle {
    stroke: rgba(63, 81, 181, 0.4); }
  .e-spinner-pane .e-spinner-inner .e-spin-high-contrast .e-path-arc {
    stroke: #3f51b5; }
  .e-spinner-pane .e-spinner-inner .e-spin-material {
    stroke: #3f51b5; }
  .e-spinner-pane .e-spinner-inner .e-spin-bootstrap {
    fill: #3f51b5;
    stroke: #3f51b5; }


.e-dropdownbase .e-list-item.e-active.e-hover {
  color: #3f51b5; }


.e-float-input.e-input-group.e-ddl.e-control.e-icon-anim > .e-float-text,
.e-float-input.e-input-focus.e-input-group.e-ddl.e-control.e-keyboard > .e-float-text {
  color: #3f51b5; }

